/Try/7/Calculator/nbproject/private/
/Try/7/Calculator/dist/
/Try/7/Calculator/build/
/Try/7/CalculatorClient/nbproject/private/
/Try/7/CalculatorClient/build/
/Try/7/CalcClient/nbproject/private/
/Try/7/CalcClient/build/
*.class